biosppy>=1.0.0
fastai>=1.0.51
lifelines>=0.27.7
lightning==2.0.3
matplotlib>=3.7.1
neurokit2>=0.2.4
numba>=0.57.1
numpy>=1.24.3
pandas>=1.5.3
Pillow==10.4.0
pydicom==2.3.1
transformers
pytorch_lightning==2.0.3
scikit_learn==1.2.2
scipy>=1.10.1
seaborn==0.13.2
timm==0.9.2
torch_ecg>=0.0.27
torchmetrics>=0.11.4
tqdm>=4.65.0
tslearn>=0.5.3.2
wfdb>=3.2.0
xmltodict>=0.13.0
